@charset "UTF-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}
.container_row_around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.containter_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  width: 3rem;
  height: 3rem;
}
#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-color: #FFFFFA;
}
/*header*/
header {
  display: grid;
  grid-column: 1/4;
  grid-row: 1/2;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 3rem;
  background-color: #1F363D;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  font-size: 1.3em;
}
/*domov*/
#domov {
  display: grid;
  grid-column: 1/4;
  grid-row: 2/3;
  margin-top: 1rem;
  margin-bottom: 9rem;
}
.bg {
  width: 100%;
  height: 45rem;
}
.button_form {
  width: 18rem;
  height: 4rem;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  position: relative;
  bottom: 34rem;
  left: 8rem;
  font-size: 0.9em;
}
.nazov {
  position: relative;
  left: 8rem;
  bottom: 35rem;
  font-size: 3em;
  color: white;
  width: 10rem;
}
.uvodny_text {
  text-align: center;
  width: 40rem;
  font-size: 1.8em;
}
/*onas*/
#onas {
  display: grid;
  grid-column: 1/4;
  grid-row: 3/4;
  background-color: #60495A;
  color: white;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
}
.text {
  width: 20rem;
  text-align: center;
}
.meno {
  font-size: 1.8em;
  margin-bottom: 3rem;
  text-align: center;
  color: white;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.nadpis {
  font-size: 1.8em;
  margin-bottom: 3rem;
  text-align: center;
  color: #60495A;
  font-family: 'Poppins', sans-serif;
}
.foto {
  width: 20rem;
}
/*galeria*/
#galeria {
  display: grid;
  grid-column: 1/4;
  grid-row: 4/5;
}
button {
  border: none;
  cursor: pointer;
  color: white;
  background: none;
  transition: all .3s ease-in-out;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFA;
}
.carousel-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 44px 0;
  transition: all 0.25s ease-in;
}
.carousel-view .item-list {
  max-width: 950px;
  width: 40rem;
  padding: 50px 10px;
  display: flex;
  gap: 48px;
  scroll-behavior: smooth;
  transition: all 0.25s ease-in;
  overflow: auto;
}
.prev-btn {
  background: none;
  cursor: pointer;
}
.next-btn {
  cursor: pointer;
}
.item {
  scroll-snap-align: center;
  min-width: 120px;
  height: 120px;
  border-radius: 8px;
}
/*najpredavanejsie*/
#bestseller {
  display: grid;
  grid-column: 1/4;
  grid-row: 5/6;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.pozadie {
  background-color: #1F363D;
  width: 21rem;
  height: 29rem;
}
.vyznam {
  width: 15rem;
  text-align: center;
  color: white;
  margin-left: 3rem;
  margin-top: 1rem;
}
.kvety {
  width: 18rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
}
/*cennik*/
#cennik {
  display: grid;
  grid-column: 1/4;
  grid-row: 6/7;
}
table {
  width: 40rem;
  text-align: center;
}
.border {
  border-bottom: 1px solid #1F363D;
  height: 3.5rem;
}
.nadpis1 {
  font-size: 1.5em;
  margin-bottom: 3rem;
  text-align: center;
  color: #60495A;
  font-family: 'Poppins', sans-serif;
}
/*kontakt*/
#kontakt {
  display: grid;
  grid-column: 1/4;
  grid-row: 7/8;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.tabulka {
  width: 40rem;
  text-align: center;
}
.podnadpis {
  color: black;
}
/*footer*/
footer {
  display: grid;
  grid-column: 1/4;
  grid-row: 8/9;
}
/*@media*/
@media only screen and (max-width: 1000px) {
  .container_column {
    flex-wrap: wrap;
  }
  .container_row_around {
    flex-wrap: wrap;
  }
  .logo {
    width: 2rem;
    height: 2rem;
  }
  #wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  /*header*/
  header {
    font-size: 0.8em;
    grid-column: 1/2;
  }
  a:hover {
    font-size: 1em;
  }
  .bg {
    height: 20rem;
  }
  /*dommov*/
  #domov {
    grid-column: 1/2;
    grid-row: 2/3
  }
  .uvodny_text {
    width: 10rem;
    font-size: 0.8em;
    margin-bottom: 1rem;
  }
  .nazov {
    bottom: 18rem;
    left: 3rem;
    font-size: 2em;
  }
  .button_form {
    bottom: 17rem;
    left: 3rem;
    width: 10rem;
  }
  /*o nas*/
  #onas {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .text {
    width: 18rem;
  }
  .meno {
    font-size: 1em;
    width: 13rem;
    margin-bottom: 1rem;
  }
  .text {
    font-size: 0.5em;
    width: 15rem;
  }
  .foto {
    width: 20rem;
    margin-top: 2rem;
  }
  /*galeria*/
  #galeria {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .carousel-view {
    width: 15rem;
  }
  .nadpis {
    font-size: 1.5em;
  }
  /*najpredavanejsie*/
  #bestseller {
    grid-column: 1/2;
  }
  .kvety {
    width: 10rem;
    margin-left: 2.5rem;
  }
  .pozadie {
    width: 15rem;
    margin-top: 2rem;
  }
  .vyznam {
    width: 10rem;
    margin-left: 3rem;
  }
  /*cennik*/
  #cennik {
    grid-column: 1/2;
  }
  table {
    width: 15rem;
    font-size: 0.5em;
  }
  #kontakt {
    grid-column: 1/2;
  }
  .tabulka {
    width: 10rem;
  }
  /*footer*/
  footer {
    grid-column: 1/2;
  }
}